* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-inner-spin-button {
  display: none;
}

body {
  height: 100svh;
  width: 100svw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #777;
}

.container {
  height: 72vh;
  max-width: 700px;
  display: flex;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.image-container {
  background: url(images.png) center no-repeat;
  width: 300px;
  height: 100%;
  border-radius: 5px;
}

.form-container {
  max-width: 350px;
  padding: 20px;
}

.form-container h1 {
  font-size: 25px;
  color: #2980b9;
  font-weight: 600;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  font-size: 18px;
  font-weight: 100;
}

.input-group input:focus {
  outline: none;
}

.btn-group button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 400ms ease-in;
}

.btn-group button:nth-child(2) {
  background-color: rgb(201, 0, 0);
  margin-left: 15px;
  transition: background-color 400ms ease-in;
}

.btn-group button:nth-child(2):hover {
  background-color: rgb(245, 0, 0);
}

.btn-group button:hover {
  background-color: rgb(38, 132, 194);
}

.result {
  margin-top: 25px;
  padding: 5px 20px;
  border: 1px solid #3498db;
  border-radius: 5px;
}

.result p {
  margin: 10px 0;
  color: #333;
}

.result p:nth-child(1) {
  color: #3498db;
  font-weight: 600;
}

.err-msg {
  color: orangered;
  font-size: 11px;
  margin-bottom: 10px;
}

@media (max-width: 478px) {
  .container {
    height: 100svh;
    width: 100svw; 
  }
  .form-container {
    justify-self: center;
    align-self: center;
  }
  .image-container {
    display: none;
  }
}
